@charset 'utf-8';

/* reset for mobile */
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: ' ';}
br.only-t {content: '';}
br.only-t::after {content: ' ';}

body.main {height: 100%; background: var(--main);}
body.sub {height: 100%; background: #fff;}
body > div.login {height: 100%; background: var(--main) !important;}
img {max-width: 100%;}
#wrap{position: relative; min-height:100vh; padding-bottom: 80px; width: 100%; overflow-x: hidden;}
#contents_wrap { width: 100%;}
#footer {position: absolute; bottom: 0; height: 80px; width: 100%;}


:root {
    --main: #4265ED;
    --point: #ff2471;
  }

  
/* top */
#wrap header .header_inner {display: flex; justify-content: space-between; align-items: center; padding: 30px;}
#wrap header .header_inner h1 a img {width: 100px;}
#wrap header .header_inner div.top-menu {display: flex; justify-content: center; align-items: center;}
#wrap header .header_inner div.top-menu > div {display: flex; justify-content: center; align-items: center; width: 35px;}
#wrap header .header_inner div.top-menu > div:last-child {display: none;}
#wrap header .header_inner div.top-menu img {width: 30px;}


/* main */
#wrap #contents_wrap div.user {margin-bottom: 85px; padding: 35px; color: #fff;}
#wrap #contents_wrap div.user p.name {font-size: 30px; font-weight: 700; padding-bottom: 5px;}
#wrap #contents_wrap div.user .sort li {position: relative; float: left; padding: 10px; opacity: 0.8;}
#wrap #contents_wrap div.user .sort li:first-child {padding-left: 0;}
#wrap #contents_wrap div.user .sort li::after { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 10px;  background: #ccc; transform: translateY(-50%);}
#wrap #contents_wrap div.user .sort li:first-child::after { display: none;}
#wrap #contents_wrap div.user p:last-child > span {display: inline-block; background-color: var(--point); margin-left: 5px; padding: 2px 12px; border-radius: 50px; font-weight: 700;}

#wrap #contents_wrap div.menu_wrap {padding: 30px; border-radius: 30px 30px 0 0; background: #f2f6f9;}
#wrap #contents_wrap div.menu {display: grid; grid-template-columns: repeat(4, 1fr); gap: 15px; margin-top: -120px;}
#wrap #contents_wrap div.menu .item {display: flex; flex-direction: column; justify-content: flex-end; padding: 20px; border-radius: 20px 20px; background-color: #fff;}
#wrap #contents_wrap div.menu .item:nth-child(1),
#wrap #contents_wrap div.menu .item:nth-child(3)  {grid-column: 1 / 3;}
#wrap #contents_wrap div.menu .item:nth-child(2),
#wrap #contents_wrap div.menu .item:nth-child(4) {grid-column: 3 / 5;}
#wrap #contents_wrap div.menu .item p {font-size: 20px; font-weight: 800; color: #06072e; padding-bottom: 10px;}

#wrap #contents_wrap div.menu .item:nth-child(n+5) {display: flex; flex-direction: column; justify-content: flex-start; padding: 10px; border-radius: 15px 15px; background-color: #fff;}
#wrap #contents_wrap div.menu .item:nth-child(n+5) div {text-align: center;}
#wrap #contents_wrap div.menu .item:nth-child(n+5) p {text-align: center; font-weight: 600; font-size: 14px; padding: 5px 0;}
#wrap #contents_wrap div.menu .item:last-child p {font-size: 13px;}



/* footer */
#wrap #footer {height: 80px; text-align: center; font-size: 12px; color: #929199; line-height: 80px; background-color: #f2f6f9; border-top: 1px solid #e2e4e8;}
/* .sub #wrap #footer {display: none;} */



/* login */
.sub #wrap header .header_inner {display: flex; justify-content: center; align-items: center; padding: 100px 0 30px;}
.sub #wrap header .header_inner h1 a img {width: 120px;}

.sub #wrap #contents_wrap div.login_wrap {display: flex; flex-direction: column; margin-top: 30px; padding: 35px; color: #06072e; border-radius: 30px 30px 0 0; background-color: #fff; height:100vh}

.sub #wrap #contents_wrap div.login_wrap .title {text-align: center; font-size: 24px; font-weight: 900; padding: 80px 0 35px;}
.login_id input, .login_pw input { width: 100%; height: 45px; border: 1px solid #efefef; margin-bottom: 10px; padding: 15px 40px; font-size: 15px; background: #f5f5f5; border-radius: 50px;}
.login_id input {background: url(../images/login_id.png) 15px center no-repeat #f5f5f5; background-size: 18px;}
.login_pw input {background: url(../images/login_pw.png) 15px center no-repeat #f5f5f5; background-size: 18px;}
input::placeholder { font-size: 14px; color: #A8B3BD;}
.login_check { text-align: left; font-size: 14px; color: #a4a4a4; padding-left: 20px;}
.login_btn button { width: 100%; height: 45px; background: #4365ed; color: #fff; font-size: 16px; font-weight: 500; margin: 50px 0 25px 0; cursor: pointer; border-radius: 50px; filter:drop-shadow(0 10px 10px #e0e5fc);}
.login_btn > p {text-align: center; font-size: 14px; color: #7d7d7d;}



/* sub */
.sub #wrap {background-color: #fff;}
.sub #wrap #header  {background-color: #fff; border-bottom: 1px solid #E7EBEE; margin-bottom: 20px;}
.sub #wrap header .header_wrap {display: flex; justify-content: space-between; align-items: center; padding: 10px 5px; }
.sub #wrap header .header_wrap > div {display: flex; justify-content: center; align-items: center; height: 40px;}
.sub #wrap header .header_wrap a {display: inline-block; width: 40px; text-align: center;}
.sub #wrap header .header_wrap img {width: 24px;}


.sub #wrap #contents_wrap .tab_wrap .tab_wrap_item {display: flex; justify-content: space-between; align-items: center; font-weight: 600; margin: 0 15px; border-bottom: 1px solid #E7EBEE;}
.sub #wrap #contents_wrap .tab_wrap .tab_wrap_item a {display: block; padding-bottom: 15px; flex-grow: 1; text-align: center;}
.sub #wrap #contents_wrap .tab_wrap .tab_wrap_item a.on {color: var(--main); border-bottom: 2px solid var(--main);}

.search_wrap {margin:15px 15px}
.search_wrap .search_month {display: flex; justify-content: space-between; align-items: center;}
.search_wrap .search_month > input {width: 90%; text-align: center; border: 1px solid #E7EBEE; border-radius: 6px; padding: 8px 10px; font-size: 14px; font-weight: 500; color: #66707A; background: url(../images/icon_calendar.svg) 10px center /24px 24px no-repeat;}
.search_wrap .search_month > span {padding: 0 5px; color: #A8B3BD;}
.search_wrap .select_search > div {padding: 8px 10px; color: #A8B3BD; border-bottom: 1px solid #E7EBEE; background: url(../images/icon_chevron_down_small.svg) right 8px no-repeat; cursor: pointer;}
.search_wrap .select_search > div + div {margin-top: 10px;}


.sub #wrap #contents_wrap p.search_num {margin: 30px 15px 10px; padding-left: 20px; font-size: 14px; font-weight: 600; color: #181A1B;}
.sub #wrap #contents_wrap p.search_num > span {color: var(--point);}
.sub #wrap #contents_wrap .card_wrap {margin: 0 15px;}
.sub #wrap #contents_wrap .card_wrap > div {margin-bottom: 25px;}

.btn_search2 {display: flex; align-items: center; justify-content: center; margin-top: 15px; height: 42px; border-radius: 50px; padding: 8px 17px; background: #4265ED;}
.btn_search2 > img {filter: invert(100%);}
.btn_search2 > span {padding-left: 5px; color: #fff;}

.btn_search {display: flex; align-items: center; justify-content: center; margin-top: 15px; height: 42px; border-radius: 50px; padding: 8px 17px; border: 1px solid #4265ED;}
.btn_search > span {padding-left: 5px;}

.btn_gray {background-color: #F3F5F6; color: #66707A;}
.btn_blue {background-color: var(--main); color: #fff;}
.btn_edit {position: relative; margin-right: 16px; background-color: #f3f6f4; font-weight: bold; color: #181A1B; cursor: pointer;}
.btn_edit::after {content: ''; position: absolute; display: inline-block; width: 16px; height: 16px; background: url(../images/icon_chevron_right_small.svg) left center / 16px 16px  no-repeat;}


.badge_sb {padding: 5px 12px; border-radius: 100px; font-size: 12px; color: #fff; margin-right: 5px; background-color: #89A1FA;}
.badge_gray {display: inline-block; padding: 2px 12px; border-radius: 100px; font-size: 12px; color: #fff; margin-right: 5px; background-color: #A8B3BD;}.badge_pink_line {padding: 0 6px; border: 1px solid var(--point); border-radius: 5px; font-size: 12px; color: var(--point); margin-right: 7px;}

.title20_800 {font-size: 20px; font-weight: 800; color: #181A1B; line-height: 45px;}
.title20_600 {font-size: 20px; font-weight: 600; color: #181A1B;}
.title18_800 {font-size: 18px; font-weight: 800; color: #181A1B;}
.title18_600 {font-size: 18px; font-weight: 600; color: #181A1B;}
.title16_800 {font-size: 16px; font-weight: 800; color: #181A1B;}
.title16_600 {font-size: 16px; font-weight: 600; color: #181A1B;}
.title16_400 {font-size: 16px; font-weight: 400; color: #181A1B;}

.sub_title18_600 {font-size: 18px; font-weight: 600; color: #525960;}
.sub_title16_600 {font-size: 16px; font-weight: 600; color: #525960;}
.sub_cont14_600 {font-size: 14px; font-weight: 600; color: #7d7d7d;}
.sub_cont14_400 {font-size: 14px; color: #7d7d7d;}

.sub_txt16_400 {font-size: 16px; font-weight: 600; color: #66707A;}
.sub_txt14_400 {font-size: 14px; color: #66707A;}
.sub_txt12_400 {font-size: 12px; color: #66707A;}
.sub_txt12_500 {font-size: 12px; font-weight: 500; color: #A8B3BD;}

.line_divider_12 {height: 12px; background-color: #E7EBEE; margin: 30px 0;}
.line_divider_15 {border-top: 1px solid #E7EBEE; margin: 15px 0;}
.line_divider_30 {border-top: 1px solid #E7EBEE; margin: 30px 0;}
.line_border_1 {border: 1px solid #E7EBEE;}

.flag_11 {color: #fff; background-color: #1C5350;}
.flag_12 {color: #fff; background-color: #02880E;}
.flag_13 {color: #fff; background-color: #8CC051;}
.flag_14 {color: #fff; background-color: #F6BB43;}
.flag_15 {color: #fff; background-color: #F08C34;}
.flag_16 {color: #fff; background-color: #EC5B56;}
.flag_17 {color: #fff; background-color: #DC3545;}
.flag_01 {color: #fff; background-color: #7855E7;}
.flag_02 {color: #fff; background-color: #89A1FA;}
.flag_03 {color: #fff; background-color: #AEC6E2;}
.flag_04 {color: #fff; background-color: #5D9CEB;}
.flag_05 {color: #fff; background-color: #475DE6;}
.flag_06 {color: #fff; background-color: #636b75;}
.flag_07 {color: #fff; background-color: #31353A;}



/* prospective_list */
/* prospective_view */
/* prospective_register */
.sub #wrap #contents_wrap .card_prospective {padding: 18px 16px; border-radius: 12px;}
.sub #wrap #contents_wrap .card_prospective .sub_txt12_500 {padding-bottom: 5px;}

.card_btn_area {display: flex; justify-content: space-between; align-items: stretch;}
.card_btn_area > div {display: flex; align-items: center; justify-content: center; flex-grow: 1; border-radius: 6px; margin-top: 15px; padding: 8px 17px;}
.card_btn_area > div + div {margin-left: 7px;}
.card_btn_area > div > span {padding-left: 3px;}

.cont_btn_area {display: flex; justify-content: space-between; align-items: stretch;}
.cont_btn_area > div {display: flex; align-items: center; justify-content: center; flex-grow: 1; height: 42px; border-radius: 50px; margin-top: 15px; font-size: 16px;}
.cont_btn_area > div + div {margin-left: 7px;}
.cont_btn_area > div > span {padding-left: 3px;}

.card_btn_fixed {position: fixed; display: flex; width: 100%; bottom: 0; padding: 15px 15px; background-color: #fff; z-index: 99; box-shadow: -5px -5px 8px 3px rgba(128, 128, 128, 0.180);}
.btn_fixed {display: flex; justify-content: center; align-items: center; height: 42px; border-radius: 50px; font-size: 16px; background-color: var(--main); color: #fff; flex-grow: 1;}

.sub #wrap #contents_wrap .person_wrap {margin: 0 15px 30px;}
.sub #wrap #contents_wrap .person_wrap .person_info {margin-bottom: 4px; padding: 18px 16px; background: #fff; border-radius: 12px; filter:drop-shadow(0 0 7px  #00000015);}

.sub #wrap #contents_wrap .card_history {border-radius: 12px;}
.sub #wrap #contents_wrap .card_top {display: flex; justify-content: space-between; align-items: center; padding: 18px 16px; background-color: #F3F5F6; border-top-left-radius: 12px; border-top-right-radius: 12px;}
.sub #wrap #contents_wrap .card_cont {padding: 18px 16px;}
.sub #wrap #contents_wrap .card_history > .card_cont > p.title16_600  {padding-top: 10px;}


.sub #wrap #contents_wrap .guest_wrap {margin: 0 15px 30px;}
.sub #wrap #contents_wrap .guest_wrap ul > li {display: flex; flex-direction: column; font-size: 14px; font-weight: 500; color: #7d7d7d;}
.sub #wrap #contents_wrap .guest_wrap ul > li + li {margin-top: 20px;}
.sub #wrap #contents_wrap .guest_wrap ul > li input,
.sub #wrap #contents_wrap .guest_wrap ul > li div,
.sub #wrap #contents_wrap .guest_wrap ul > li textarea {border: 1px solid #E7EBEE; border-radius: 6px; padding: 8px 10px; font-size: 16px; font-weight: 500; color: #66707A;}

.sub #wrap #contents_wrap .guest_wrap ul > li > label {margin-bottom: 10px;}



/* target_list */
/* target_team */
.sub #wrap #contents_wrap .graph_wrap {margin: 30px auto; text-align: center;}
.sub #wrap #contents_wrap .graph_wrap .graph_area {display: flex; align-items: center; justify-content: center; margin: 20px auto; width: 150px; height: 150px; border-radius: 100px; background: conic-gradient(#89A1FA 0% 25%, #F2F2F2 25% 100%);}
.sub #wrap #contents_wrap .graph_wrap .graph_area .graph_bg {display: flex; align-items: center; justify-content: center; margin:0 auto; width: 115px; height: 115px; border-radius: 100px; background-color: #ffffff;}
.sub #wrap #contents_wrap .graph_wrap .graph_area .graph_num {font-size: 24px; font-weight: 900; color: #181A1B; padding-top: 15px;}
.sub #wrap #contents_wrap .graph_wrap .graph_area .graph_date {font-size: 13px; line-height: 30px;}
.sub #wrap #contents_wrap .graph_wrap .graph_area .graph_btn {font-size: 13px; line-height: 16px; padding-top: 10px;}
.sub #wrap #contents_wrap .graph_wrap .graph_area .graph_btn > span {display: block; font-size: 14px; font-weight: 600; line-height: 30px; color: #181A1B; text-decoration:underline; text-underline-position: under;}

.sub #wrap #contents_wrap .card_title {display: flex; align-items: center;}
.sub #wrap #contents_wrap .card_title span {padding: 3px 12px; border-radius: 100px; font-size: 12px; color: #fff; margin-left: 5px; background-color: #89A1FA;}

.sub #wrap #contents_wrap .card_goal_area {display: flex; align-items: center; justify-content: space-between; flex-grow: 1; border-radius: 8px;}
.sub #wrap #contents_wrap .card_goal_area > div {display: flex; flex-direction: column; align-items: center; justify-content: center; flex-grow: 1; border-radius: 8px; margin-top: 10px; padding: 15px;}

.sub #wrap #contents_wrap .card_target:first-child {margin-top: 30px;}
.sub #wrap #contents_wrap .card_target > p {margin-top: 3px;}
.sub #wrap #contents_wrap .card_goal_area > div + div {margin-left: 7px;}
.sub #wrap #contents_wrap .card_goal_area > div > span {font-size: 24px; font-weight: 900; color: #66707A; line-height: 30px;}
.sub #wrap #contents_wrap .card_goal_area > div:first-child > span {color: var(--main);}
.sub #wrap #contents_wrap .card_goal_area > div:last-child > span {color: #181A1B;}



/* chrg_list */
.sub #wrap #contents_wrap .user_wrap {margin: 15px; padding: 10px 0 10px 80px; background: url(../images/img_user.svg) left center no-repeat;}
.sub #wrap #contents_wrap .user_wrap > p:last-child {line-height: 30px;}

.sub #wrap #contents_wrap .card_chrg {position: relative; padding: 18px 16px; border-radius: 12px;}
.sub #wrap #contents_wrap .card_chrg .prod_num {font-size: 12px; color: #66707A;}
.sub #wrap #contents_wrap .card_chrg .prod_num > span {color: var(--point); font-weight: 500;}
.btn_tel_circle {position: absolute; top: 45px; right: 20px; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; border-radius: 100px; background-color: #F3F5F6;}
.btn_tel_circle img {width: 24px; height: 24px;}

.card_flag_area {display: flex; align-items: stretch; flex-wrap: wrap;}
.card_flag_area > div {display: flex; align-items: center; justify-content: center; border-radius: 6px; margin-top: 5px; padding: 0 7px; font-size: 11px; margin-right: 4px;}



/* charge_list */
.sub #wrap #contents_wrap .card_wrap > div.card_charge {margin-bottom: 20px;}
.sub #wrap #contents_wrap .card_wrap > div.card_charge:first-child {margin-top: 30px;}
.sub #wrap #contents_wrap .card_charge {position: relative; padding: 18px 16px; border-radius: 12px;}
.sub #wrap #contents_wrap .card_charge img {position: absolute; right: 10px; top: 50%; transform: translateY(-50%);}



/* notice_list */
.sub #wrap #contents_wrap .card_wrap > div.card_notice {margin-bottom: 0px;}
.sub #wrap #contents_wrap .card_notice {padding: 10px 10px;}
.sub #wrap #contents_wrap .card_notice > p.sub_txt12_500 {padding: 5px 0 10px;}
.btn_download {display: inline-block; font-size: 12px; border-bottom: 1px solid #A8B3BD; padding: 10px 2px 0 0; color: #66707A;}

.notice_title_area {display: flex; align-items: center;}
.icon_new {display: flex; justify-content: center; align-items: center; width: 16px; height: 16px; font-size: 9px; font-weight: normal; margin: 0 3px; border-radius: 50px; color: #fff; background-color: var(--point);}
.btn_more_area {width: 100%; text-align: center; padding: 30px 0 30px;}
.btn_more {text-align: center; padding: 10px 25px; border-radius: 100px; color: #181A1B;}
.btn_more img {padding: 0 5px 2px;}



/* onlineexam_list */
.sub #wrap #contents_wrap .card_exam {padding: 18px 16px; text-align: center; border-radius: 12px; margin-top: 30px;}
.sub #wrap #contents_wrap .card_exam .card_exam_top {display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}
.sub #wrap #contents_wrap .card_exam a:first-child img {transform: rotateY(180deg);}
.sub #wrap #contents_wrap .card_exam .title20_800 {line-height: 30px;}

.stamp_list {margin: 0 10px;}
.stamp_list .stamp_area {display: grid; grid-template-columns: repeat(4, 1fr); justify-items: center; row-gap: 20px; padding-bottom: 20px;}
.stamp_list span {display: flex; justify-content: center; align-items: center; width: 65px; height: 65px; color: #A8B3BD; background: url(../images/img_stamp_gg.svg) no-repeat;}
.stamp_list span.stamp {display: flex; justify-content: center; align-items: center; font-weight: 800; color: #181A1B; width: 65px; height: 65px; background: url(../images/img_stamp_bb.svg) no-repeat;}

@media (max-width: 355px) {
  .stamp_list {margin: 0 0;}
  .stamp_list .stamp_area {display: grid; grid-template-columns: repeat(3, 1fr);} 
}


/* ebook_list */
.sub #wrap #contents_wrap .search_wrap .select_search > div.ebook {padding: 8px 10px; border-bottom: 1px solid #E7EBEE; background: url(../images/icon_search_g.svg) right 8px no-repeat;}
.sub #wrap #contents_wrap .search_wrap .select_search > div.ebook input {border: none;}
.sub #wrap #contents_wrap .search_wrap .select_search > div.ebook label {text-indent: -9999px !important;}


.sub #wrap #contents_wrap .card_book > div + div {margin-top: 20px;}
.sub #wrap #contents_wrap .card_book_area {display: flex; align-items: center; justify-content: space-between; flex-grow: 1; border-radius: 8px;}
.sub #wrap #contents_wrap .card_book_area a > div {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; flex-grow: 1; border-radius: 8px; padding: 15px;}
.sub #wrap #contents_wrap .card_book_area > a + a {margin-left: 10px;}

.sub #wrap #contents_wrap .card_book_area .img_book > img {border-top-left-radius: 8px; border-top-right-radius: 8px; height: 100%; width: 100%; object-fit: cover;}
.sub #wrap #contents_wrap .card_book_area div > p {line-height: 20px; margin-top: 15px;}
.title_catalog {width: 100%; text-align: center; font-weight: 600;}



